@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Splash&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body, .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    min-height: 100vh;
    background-color: #4a97f7;
}
.wrapper {
    width: 400px;
    border-radius: 10px;
    flex-direction: column;
    padding: 30px;
    background: white;
}
.wrapper .img {
    max-width: 100px;
}
.wrapper h1{
    font-size: 30px;
    margin: 30px 0;
}
.wrapper .content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.content .column {
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid rgb(204, 204, 204);
    width: calc(100%/3 - 5px);
}
.column select {
    outline: none;
    border: none;
    height: 40px;
    font-size: 18px;
    padding: 5px 10px;
    width: 100%;
}
.wrapper .button{
    margin-top: 20px;
    width: 100%;
    font-size: 18px;
    background-color: #4a97f7;
    border: none;
    padding: 10px 0px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}